// This file contains shortcut classes for ease of styleing markup

.bold {font-weight: bold;}
.italics {font-style: italic;}
.t-center {text-align: center;}
.t-left {text-align: left;}
.t-right {text-align: right;}
